# Application
APP_NAME=TCG Marketplace
APP_VERSION=0.1.0
DEBUG=true

# Database
DATABASE_URL=sqlite:///./db.sqlite3

# Queue
REDIS_URL=redis://localhost:6379/0

# Auth
JWT_SECRET_KEY=iframe-need-change
JWT_EXPIRATION_MINUTES=30

# CORS
CORS_ORIGINS=http://localhost:3000
